html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
}

#game {
    width: 100%;
    height: 100%;
    background-color: black;
    overflow: hidden;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
}
