html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
}

#game {
    width: 100%;
    height: 100%;
    background-color: black;
    overflow: hidden;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
}

#settings {
    margin: auto;
    width: 400px;
    background-color: black;
    background-image: url(http://www.pixempire.com/images/preview/dark-background-with-pattern.jpg);
    background-position: center center;
    border: 1px white solid;
    border-radius: 3px;
    text-align: center;
    text-shadow: black 1px 1px 2px;
    color: white;
    pointer-events: all;
    display: none;
}

#settingsButton {
    position: fixed;
    top: 0;
    right: 0;
    pointer-events: all;
    cursor: pointer;
}

#musicUI:hover {
	color: white;
    position: fixed;
	background-color: black;
    bottom: 0;
    right: 0;
    pointer-events: all;
    cursor: pointer;
	width: auto;
	height: auto;
	opacity: 0.8:
}
#musicUI {
	color: white;
	background-color: black;
    position: fixed;
    bottom: 0;
    right: 0;
    pointer-events: all;
    cursor: pointer;
	width: 20px;
	height: 20px;
	opacity: 1.0;
}

#musicTitle {
	color: white;
	background-color: black;
    position: fixed;
    bottom: 0;
    right: 1;
	width: auto;
	height: auto;
	opacity: 1.0;
}
